.hero-wrapper {
  @apply flex flex-col items-center justify-center w-full px-4 py-8 md:flex-row md:items-start md:gap-8 lg:py-16;
}

.profile-image-wrapper {
  @apply flex justify-center items-center w-full max-w-sm mb-4 md:mb-0 md:max-w-xs lg:max-w-md;
}

.profile-image {
  /* @apply rounded-full shadow-lg border-2 border-primary-bg md:rounded-md; */
  @apply rounded-full shadow-lg  md:rounded-md;
}

.column {
  @apply w-full md:w-1/2;
}

.title {
  @apply text-3xl font-bold text-center mb-6 md:text-left lg:text-4xl;
}

.subtitle {
  @apply text-xl font-semibold mb-4 md:text-2xl;
}

.page-intro {
  @apply text-base  leading-relaxed space-y-4;
}

.intro-wrapper {
  @apply shadow-xl;
}

/* .profile-image-wrapper {
  display: inline-block;
  max-width: 45%;
  border: 1px solid pink;
}

.profile-image {
  width: 100%;
}

@media only screen and (min-width: 481px) {
  .profile-image {
    border-radius: 4%;
    max-width: 40vw;
  }
} */
