<div *ngIf="aboutData">
  <div class="hero-wrapper">
    <div class="column profile-image-wrapper">
      <img
        src="../../assets/images/marta-tendero-profile.webp"
        class="profile-image"
        alt="Marta Tendero aka la Martastica"
      />
    </div>
    <div class="column">
      <h1 class="title">{{ aboutData.hero.TITLE }}</h1>
      <div class="subtitle">{{ aboutData.hero.SUBTITLE }}</div>
      <div class="page-intro intro-wrapper">
        <div *ngFor="let par of aboutData.hero.INTRO">
          {{ par }}
        </div>
      </div>
    </div>
  </div>

  <!-- Page body -->
  <div class="page-body-wrapper">
    <div *ngFor="let section of aboutData.sections" class="section-wrapper">
      <h2>{{ section.heading }}</h2>
      <div *ngFor="let paragraph of section.text">
        <p>{{ paragraph }}</p>
      </div>
      <div *ngIf="section.list">
        <h4>{{ section.list.HEADING }}</h4>
        <ul>
          <li *ngFor="let item of section.list.ITEMS">
            <span>{{ item.KEY }}</span
            >: {{ item.DESCRIPTION }}
          </li>
        </ul>
      </div>
      <div *ngIf="section.quote">
        <blockquote>
          <p>{{ section.quote.QUOTE_TEXT }}</p>
          <footer>
            {{ section.quote.QUOTE_AUTHOR }}
            {{ section.quote.QUOTE_AUTHOR_ABOUT }}
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <!-- CTA - START -->
  <section class="cta-section card-section my-8">
    <a routerLink="/contact">
      <div class="cta-card card">Get in touch</div>
    </a>
  </section>
  <!-- CTA - END -->
</div>
