.projects-container {
  padding-top: 2em;
}

/* h1 {
  font-size: 2rem;
  margin-bottom: 10px;
} */

.category-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.project-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  /* gap: 20px; */
  /* display: flex;
  flex-direction: column; */
}

.project-card {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  /* max-height: 95vh; */
  /* height: 90dvh; */
  /* background: #f9f9f9; */
  /* border: 1px solid var(--secondary-bg-color); */
  @apply border border-secondary-bg p-1 mb-2 rounded-md;
  /* padding: 1em; */
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.project-image-wrapper {
  height: 50vh;
  width: auto;
  /* max-height: 80dvh; */
  @apply flex justify-center items-center;
}

.project-image {
  min-height: 50dvh;
  height: auto;
  /* height: 70%; */
  /* width: auto; */
  /* max-width: 100%; */
  border-radius: 4px;
  margin-bottom: 10px;
  /* object-fit: contain; */
  object-fit: cover;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #0056b3;
}

/* modal - start */
.modal {
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* width: 100dvw;
  height: 100dvh; */
  @apply flex justify-center items-center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* @apply w-full sm:w-80 sm:p-2; */
  max-width: 900px;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 0.2em;
  right: 0.8em;
  font-size: 2em;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.modal-image {
  height: auto;
  max-height: 90dvh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.cursor-pointer {
  cursor: pointer;
}

/* modal - end */
