<!-- <div
  class="contact-container flex flex-col justify-around items-center h-[95dvh]"
>
  <h1 class="title">Contact</h1>
  <h1 class="title">{{ contactData.TITLE }}</h1>
  <div class="text-center">
    <p>Reach out to me using the form below.</p>
    <p>I'll get back to you rather sooner than later.</p>
  </div>

  <form
    action="https://formspree.io/f/meoqbkdn"
    method="POST"
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    class="contact-form border p-6 rounded-md w-[95vw] md:w-[80vw] lg:w-[50vw] max-w-xl"
  >
    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="name"
        >Name:</label
      >
      <input
        id="name"
        formControlName="name"
        name="name"
        type="text"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        required
      />
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        Name is required.
      </div>
    </div>

    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="email"
        >Email:</label
      >
      <input
        id="email"
        formControlName="email"
        name="email"
        type="email"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        required
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        A valid email is required.
      </div>
    </div>

    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="message"
        >Message:</label
      >
      <textarea
        id="message"
        formControlName="message"
        name="message"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        required
        rows="4"
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        Message is required.
      </div>
    </div>

    <div class="submit-btn-wrapper flex justify-center">
      <button
        type="submit"
        class="form-btn-submit px-6 py-2 rounded-md border border-white transition-all duration-300 ease-in-out hover:bg-gray-100 hover:shadow-lg"
        [disabled]="contactForm.invalid"
      >
        Send
      </button>
    </div>
  </form>

  <div class="text-center">
    <p>
      email:
      <a href="mailto:lamartastica@gmail.com" class="contact-item"
        >lamartastica&#64;gmail.com</a
      >
    </p>
    <p>
      tel.:
      <a href="tel:+436765014830" class="contact-itemng serve"
        >+43 676 5014830</a
      >
    </p>
  </div>
</div> -->

<!-- V2 -->
<div
  class="contact-container flex flex-col justify-around items-center h-[95dvh]"
>
  <!-- <h1 class="title">Contact</h1> -->
  <h1 class="title">{{ contactData?.TITLE }}</h1>
  <div class="text-center">
    <!-- <p>Reach out to me using the form below.</p>
    <p>I'll get back to you rather sooner than later.</p> -->
    <p>{{ contactData?.DESCRIPTION?.LINE_1 }}</p>
    <p>{{ contactData?.DESCRIPTION?.LINE_2 }}</p>
  </div>

  <form
    action="https://formspree.io/f/meoqbkdn"
    method="POST"
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    class="contact-form border p-6 rounded-md w-[95vw] md:w-[80vw] lg:w-[50vw] max-w-xl"
  >
    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="name">
        {{ contactData?.FORM?.NAME?.LABEL || "Name:" }}</label
      >
      <input
        id="name"
        formControlName="name"
        name="name"
        type="text"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        [placeholder]="contactData?.FORM?.NAME?.PLACEHOLDER || ''"
        required
      />
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        {{ contactData?.FORM?.NAME?.REQUIRED_ERROR || "Name is required." }}
      </div>
    </div>

    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="email">{{
        contactData?.FORM?.EMAIL?.LABEL || "Email:"
      }}</label>
      <input
        id="email"
        formControlName="email"
        name="email"
        type="email"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        [placeholder]="contactData?.FORM?.EMAIL?.PLACEHOLDER || ''"
        required
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        {{
          contactData?.FORM?.EMAIL?.REQUIRED_ERROR ||
            "A valid email is required."
        }}
      </div>
    </div>

    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="message">
        {{ contactData?.FORM?.MESSAGE?.LABEL || "Message:" }}</label
      >
      <textarea
        id="message"
        formControlName="message"
        name="message"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        [placeholder]="contactData?.FORM?.MESSAGE?.PLACEHOLDER || ''"
        required
        rows="4"
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        {{
          contactData?.FORM?.MESSAGE?.REQUIRED_ERROR || "Message is required."
        }}
      </div>
    </div>

    <div class="submit-btn-wrapper flex justify-center">
      <button
        type="submit"
        class="form-btn-submit px-6 py-2 rounded-md border border-white transition-all duration-300 ease-in-out hover:bg-gray-100 hover:shadow-lg"
        [disabled]="contactForm.invalid"
      >
        {{ contactData?.FORM?.SUBMIT_BUTTON || "Send" }}
      </button>
    </div>
  </form>

  <div class="text-center">
    <p>
      email:
      <a href="mailto:lamartastica@gmail.com" class="contact-item"
        >lamartastica&#64;gmail.com</a
      >
    </p>
    <p>
      tel.:
      <a href="tel:+436765014830" class="contact-itemng serve"
        >+43 676 5014830</a
      >
    </p>
  </div>
</div>

<!-- V3 -->
<!-- <div
  class="contact-container flex flex-col justify-around items-center h-[95dvh]"
>
  <h1 class="title">{{ contactData?.TITLE }}</h1>
  <div class="text-center">
    <p>{{ contactData?.DESCRIPTION?.LINE_1 }}</p>
    <p>{{ contactData?.DESCRIPTION?.LINE_2 }}</p>
  </div>

  <form ...>
    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="name">
        {{ contactData?.FORM?.NAME?.LABEL || "" }}
      </label>
      <input
        id="name"
        formControlName="name"
        name="name"
        type="text"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        [placeholder]="contactData?.FORM?.NAME?.PLACEHOLDER || ''"
        required
      />
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        {{ contactData?.FORM?.NAME?.REQUIRED_ERROR || "" }}
      </div>
    </div>

    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="email">
        {{ contactData?.FORM?.EMAIL?.LABEL || "" }}
      </label>
      <input
        id="email"
        formControlName="email"
        name="email"
        type="email"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        [placeholder]="contactData?.FORM?.EMAIL?.PLACEHOLDER || ''"
        required
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        {{ contactData?.FORM?.EMAIL?.REQUIRED_ERROR || "" }}
      </div>
    </div>

    <div class="form-section mb-4">
      <label class="form-label block text-sm font-medium mb-1" for="message">
        {{ contactData?.FORM?.MESSAGE?.LABEL || "" }}
      </label>
      <textarea
        id="message"
        formControlName="message"
        name="message"
        class="form-input w-full rounded-md p-2 border border-gray-300"
        [placeholder]="contactData?.FORM?.MESSAGE?.PLACEHOLDER || ''"
        required
        rows="4"
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
        class="form-error text-red-500 text-sm mt-1"
      >
        {{ contactData?.FORM?.MESSAGE?.REQUIRED_ERROR || "" }}
      </div>
    </div>

    <div class="submit-btn-wrapper flex justify-center">
      <button
        type="submit"
        class="form-btn-submit px-6 py-2 rounded-md border border-white transition-all duration-300 ease-in-out hover:bg-gray-100 hover:shadow-lg"
        [disabled]="contactForm.invalid"
      >
        {{ contactData?.FORM?.SUBMIT_BUTTON }}
      </button>
    </div>
  </form>

  <div class="text-center">
    <p>
      {{ contactData?.CONTACT_INFO?.EMAIL_LABEL }}
      <a
        href="mailto:{{ contactData?.CONTACT_INFO?.EMAIL }}"
        class="contact-item"
      >
        {{ contactData?.CONTACT_INFO?.EMAIL }}
      </a>
    </p>
    <p>
      {{ contactData?.CONTACT_INFO?.TEL_LABEL }}
      <a href="tel:{{ contactData?.CONTACT_INFO?.TEL }}" class="contact-item">
        {{ contactData?.CONTACT_INFO?.TEL }}
      </a>
    </p>
  </div>
</div> -->
