.contact-container {
  height: 95dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  @apply text-3xl font-bold text-center my-6 md:text-left lg:text-5xl;
}

.subtitle {
  @apply text-xl font-semibold mb-4 md:text-3xl;
}

.contact-form {
  margin: 1em 0 2em 0;
  /* padding: 2em; */
  /* width: 90dvw; */
  /* border-radius: 4px; */
  /* border: 1px solid black; */
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-input {
  width: 100%;
  border-radius: 4px;
  margin: 0.5em 0;
  padding: 0.5em;
  @apply text-secondary-text;
}

.submit-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
}

.form-btn-submit {
  cursor: pointer;
  padding: 0.5em 3em;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 0.3s ease 0.05s;
}

.form-btn-submit:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.8);
}

/* .contact-item {
  color: darkgray;
}

.contact-item:hover {
  color: gray;
} */

/* @media screen and (min-width: 481px) {
  .contact-form {
    margin-top: 5em 0;
    width: 50dvw;
  }
} */
