.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 1em 0;
  @apply text-gray-500;
}

@media screen and (min-width: 481px) {
  .footer {
    flex-direction: row;

    margin-top: 5em;
  }
}
