/* HERO SECTION */

.hero-section {
  @apply w-full;
}

.hero-image-wrapper {
  @apply flex justify-center w-full;
  /* max-height: 80dvh; */
  max-height: 80dvh;

  /* @screen md {
      max-height: 50dvh;
    } */

  /* @screen lg {
      max-height: 40dvh;
    } */
}

.hero-image {
  /* @apply shadow-2xl rounded-lg h-full w-auto; */
  @apply shadow-2xl rounded-xl h-full w-auto;
}

.hero-list {
  @apply my-8;
}
