<div class="language-switcher">
  <button
    (click)="switchLanguage('en')"
    class="language-selector"
    [ngClass]="{ curLang: selectedLanguage === 'en' }"
  >
    EN
  </button>
  <button
    (click)="switchLanguage('de')"
    class="language-selector"
    [ngClass]="{ curLang: selectedLanguage === 'de' }"
  >
    DE
  </button>
  <button
    (click)="switchLanguage('es')"
    class="language-selector"
    [ngClass]="{ curLang: selectedLanguage === 'es' }"
  >
    ES
  </button>
  <button
    (click)="switchLanguage('cz')"
    class="language-selector"
    [ngClass]="{ curLang: selectedLanguage === 'cz' }"
  >
    CZ
  </button>
</div>
