<div class="language-switcher">
  <button
    (click)="switchLanguage('en')"
    class="language-selector"
    [ngClass]="{ active: selectedLanguage === 'en' }"
  >
    EN
  </button>
  <button
    (click)="switchLanguage('de')"
    class="language-selector"
    [ngClass]="{ active: selectedLanguage === 'de' }"
  >
    DE
  </button>
  <button
    (click)="switchLanguage('es')"
    class="language-selector"
    [ngClass]="{ active: selectedLanguage === 'es' }"
  >
    ES
  </button>
  <button
    (click)="switchLanguage('cz')"
    class="language-selector"
    [ngClass]="{ active: selectedLanguage === 'cz' }"
  >
    CZ
  </button>
</div>

<!-- <select (change)="switchLanguage($event.target.value)">
  <option value="en">English</option>
  <option value="es">Español</option>
</select> -->
