.language-selector {
  cursor: pointer;
  margin: 0.3em;
  padding: 0.2em;
  @apply text-primary-text;
}

.active {
  /* border: 2px solid #f2efdf;
  border-radius: 2px; */
  @apply border-2 border-secondary-bg rounded;
}
